:root {
    --clr-primary-pale-blue: hsl(225, 100%, 94%);
    --clr-primary-bright-blue: hsl(245, 75%, 52%);

    --clr-neutral-very-pale-blue: hsl(225, 100%, 98%);
    --clr-neutral-dark-blue: hsl(223, 47%, 23%);

    --ff-primary: "Red Hat Display", sans-serif;
}

* {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

body {
    height: 100vh;
    margin: 0;
    background-color: var(--clr-primary-pale-blue);
    background-image: url("../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    font-family: var(--ff-primary);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typography */

h1 {
    font-size: 1.5em;
    font-weight: 900;
}

div > p {
    padding: 0;
    font-size: 0.85em;
    font-weight: 500;
    color: hsl(0, 0%, 40%);
    letter-spacing: 0.02em;
    line-height: 1.6em;
}

/* Card */

.card {
    width: min(90%, 35ch);
    height: 600px;
    margin: 0 auto;
    border-radius: 1em;
    background-color: var(--clr-neutral-very-pale-blue);
    text-align: center;
    overflow: hidden;
}

.card-content {
    padding: 0.5em 2.5em;
}

.card-image > img {
    width: 100%;
    object-fit: contain;
}

.plan {
    width: 100%;
    margin: 1.5em 0;
    padding: 1em 0;
    border-radius: 0.5em;
    background-color: hsla(225, 100%, 94%, 0.4);
}

.plan > img {
    width: 3em;
}

.plan > div {
    position: relative;
    left: -0.8em;
    padding: 0 1.8em;
    text-align: left;
}

.plan > div > h2 {   
    margin: 0;
    font-size: 0.9em;
    font-weight: 900;
}

.plan > div > p {
    margin-top: 0.2em;
    margin-bottom: 0;
    padding: 0;
    font-size: 0.9em;
    font-weight: 500;
}

.plan > a {
    font-size: 0.9em;
    font-weight: 700;
    color: var(--clr-neutral-dark-blue);
}

.plan > a:hover,
.plan > a:focus {
    opacity: 0.7;
    text-decoration: none;
}

/* Buttons */

.btn {
    font-size: 1em;
    font-weight: 900;
    cursor: pointer;
}

.submit {
    width: 100%;
    padding: 0.7em 0;
    border-radius: 0.6em;
    background-color: var(--clr-primary-bright-blue);
    box-shadow: 0px 1.5em 0.8em hsl(0, 0%, 85%);
    color: var(--clr-neutral-very-pale-blue);
}

.submit:hover,
.submit:focus {
    opacity: 0.7;
}

.cancel {
    display: block;
    margin: 1.5em auto 0 auto;
    border: none;
    color: hsl(224, 23%, 45%);
}

.cancel:hover,
.cancel:focus {
    color: hsl(224, 23%, 20%);
}

/* Media Queries */

@media screen and (max-height: 680px) {
    body {
        font-size: 13px;
    }

    .card {
        height: 460px;
    }
}

@media screen and (max-width: 300px) {
    body {
        font-size: 12px;
    }
}

@media screen and (min-width: 640px) {
    body {
        background-image: url("../images/pattern-background-desktop.svg");
        background-position-y: -30%;
    }
}